#Quantamental Research (Python)
#Версии проверены на Python 3.9
=== CORE ===
numpy==1.23.5
pandas==1.5.3
scipy==1.10.0

=== ML ===
scikit-learn==1.2.0
tensorflow-cpu==2.11.0 ; sys_platform != 'darwin'  # Для Windows/Linux
tensorflow-macos==2.11.0 ; sys_platform == 'darwin'  # Для Mac M1
catboost==1.0.0
xgboost==1.7.0

=== FINANCE ===
mlfinlab==1.0.0 
yfinance==0.2.18
statsmodels==0.13.5
arch==5.3.0  # GARCH

=== ВИЗУАЛИЗАЦИЯ ===
matplotlib==3.6.2
seaborn==0.12.1
